<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<hr>
<h3><%= @user.email %></h3> <br>

<p>Whohooo!</p> <br>

<p>Lets try showing the password</p> <br>
<p> <%= @user.encrypted_password %></p>