<!--FOOTER START-->
<div class="footer">
  <section style="height:80px;"></section>
  <div class="row" style="text-align:center;">
  </div>
  <!----------- Footer ------------>
  <footer class="footer-bs">
    <div class="row">
      <div class="col-md-4 footer-brand animated fadeInLeft" id="footerTopPadding" style="text-align:center;">
        <%= image_tag "footer_logo/westerhub-200.png"%>
        <p>The purpose of the Westerhub is to create a meeting place where inspired people can come together and create something amazing.
         In addition we also want to broadcast our amazing users to cool companies out there. This is solved by allowing companies to create
         profiles and join in on the fun.</p>
        <p>If you have any questions or requests which our hub does not currently facilitate, don't hesitate to send us an email</p>
      </div>
      <div class="col-md-4 footer-nav animated fadeInUp" id="footerTopPadding" style="text-align:center;">
        <%= image_tag "github-128.png" %>
        <h4>Our github accounts</h4>
        <div class="col-md-12">
          <ul class="pages">
            <li><a href="https://github.com/JoakimEJ">Joakim E Jacobsen</a></li>
            <li><a href="https://github.com/NikitaZhevnitskiy">Nikita Zhevnitskiy</a></li>
            <li><a href="https://github.com/dem92">Eva Dahloe</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 footer-ns animated fadeInRight">
        <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDJKzkT7QF6dSogCjjvdyzCGBm5_zGmcGQ&center=59.9160,10.7597&zoom=18&maptype=satellite"></iframe>
      </div>
    </div>
  </footer>
</div>