/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$colorPrimary:  #337ab7;
$colorPrimaryDark:  #99d3df;
$fontColor: #ffffff;
$whiteColor: #ffffff;
$colorAscending: #fbce13;
$textDark: #333333;

body, html {
  height: 92%;
}

body {
  //background: image_url("AbstractBlue.jpg") no-repeat top fixed;
  //-webkit-background-size: 100% 150%;
  //background-size: 100% 150%;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.landingpage-head {
  height: inherit;
  margin-top: -50px;
  padding-top: 50px;
  //background-color: $colorPrimary;
  background: image_url("AbstractBlue.jpg") no-repeat top fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.westerbutton {
  background-color: $colorAscending !important;
}

h1 span, p span, h3 span {
  background-color: rgba(256,256,256,0.5);
  padding-left: 10px;
  padding-right: 10px;
}

.transparent {
  background: transparent;
}

.borderedText {
  color: $whiteColor;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

// Navigation bar styling START
.navbar {
  margin-bottom: 0px;
  border: 0px;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

.navbar-default {
  background-color: $colorPrimary;
}

.navbar-landing {
  background: transparentize($textDark, 0.5);
}

.navbar-nav > li > a {
  color: $fontColor !important;
}
.navbar-brand {
  color: $fontColor !important;
}

.userImgContainer{
  width: 150px;
  height: 150px;
  text-align: center;
}
.userImgContainer span{
  font-size: xx-large;
  line-height: 150px;
}

#styleChildren > * {
  padding-top: 3%;
}

// -- Thumb images --

.global-img-round-edges {
  cursor: pointer;
  border-radius: 10px;
}

// -- Thumb images end --

// -- Side bars --

.global-right-bar {
  margin-top: 20px;
  border: 0px solid #eee;
  border-left-width: 1px;
}

.global-left-bar {
  margin-top: 20px;
  border: 0px solid #eee;
  border-right-width: 1px;
}

// -- Side bars --
