// Place all the styles related to the projects controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-of-elements {
  display: inline-block;
}

.well {
  margin-bottom: 20px;
  height: 150px;
  text-align: center;
}

// -- Show --

#project-heading {
  margin-top: 20px;
}

.modal-dialog{
  position: relative;
  display: table; //This is important
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
}

.project-info {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none;
  border: 0 solid #eee;
  border-top-width: 1px;
  margin-bottom: 5px;
  padding: 20px;
}

.project-info:last-child {
  margin-bottom: 0;
}

#editing-buttons {
  margin-left: 20px;
}

#project-container h2 {
  margin-top: 50px;
}

// -- Show end --

// -- Department tags --

#departmentTechnology {
  background-color: #b5dafb;
}

#departmentFilm_TV_Games {
  background-color: #fbc1b2;
}

#departmentArt {
  background-color: #91efb0;
}

#departmentCommunication {
  background-color: #fbe777;
}

#departmentManagement {
  background-color: #d6baff;
}

.department {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 12px;
  margin-right: 3px;
  text-align: center;
}

// -- Department tags end --

// -- Index --

.project-row-img {
  height: 200px;
  display: flex;
  align-items: center;
}


// -- Sidenav --

#create-project {
  margin-bottom: 36px;
}

#search-projects-field {
  max-width: 100%;
}

// -- Sidenav end --

// -- Index end --

// -- Form --

#error_explanation * {
  color: #de5244;
}

#project-form label {
  margin-top: 10px;
}

#btn-sbmt-new-proj{
  margin-top: 1em;
}

// -- Form end --
